<div class="container">
    <div class="row error">
        <div class="col-12">
            <h1>{{ message }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 error">
            <a href="/" class="btn btn-info">Go Home</a>
        </div>
    </div>
</div>
